#app {
  padding-bottom: 50px;
  position: relative;
  padding-left: 50px;
  width: 70%;
}

#banner {
  position: relative;
}

#carousel {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 18px;
  border-top: 1px solid #EBEBEB;
  padding-bottom: 15px;
  z-index: 2;
}

.app-container {
  display: inline-flex;
  padding-right: 10px;
}

.booking-container {
  display: inline-flex;
  position: sticky;
  top: 30px;
  padding-left: 40px;
}

.top-container {
  padding-left: 150px;
}

#search-bar {
  position: relative;
  width: 100%;
}